@model IList<Author>

<div class="p-4">
  <h3 class="text-success mb-3">
        Top 4 những Tác giả có nhiều bài viết nhất.
  </h3>
  @foreach (var author in Model)
  {
    <div class="card mt-3 p-2">
      <div class="row g-0">
          <h5 class="card-title">
            <a title="@author.FullName"
                style="text-decoration: none;"
                asp-controller="Blog"
                asp-action="Author"
                asp-route-slug="@author.UrlSlug"
                >
              @author.FullName
            </a>
          </h5>
          @if (!string.IsNullOrWhiteSpace(author.ImageUrl)){
            <img src="/@author.ImageUrl" alt="default" class="img-thumbnail">
          }
          else
          {
          }
          <p>Ngày bắt đầu làm việc: <i>@author.JoinedDate</i></p>
          <p>
            <h5>
              Email liên hệ:
            </h5>
            @Html.Raw(author.Email)
          </p>
      </div>
    </div>
  }
</div>